@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-blue-100: #e6f6fc;
  --color-blue-200: #ccecf9;
  --color-blue-800: #009ee1;
  --color-blue-900: #009ee1;

  /* Custom spacing */
  --spacing-112: 28rem;

  /* Custom breakpoints */
  --breakpoint-xs: 480px;

  /* Custom font sizes */
  --text-10xl: 6rem;
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: #D5DAE1;
  }

  html {
    font-family: var(--font-sans);
  }

  input::placeholder,
  textarea::placeholder {
    color: #959AAA;
    opacity: 1;
  }
}